.item {
  display: flex;
  margin: 50px 0;
}

.item .preview {
  flex-basis: 50%;
}

.item .preview img {
  border: 1px solid #EFEFEF;
  padding: 5px;
  width: calc(100% - 12px);
}

.item .info {
  flex-basis: calc(50% - 20px);
  padding: 0 10px;
}

.item .info h3 {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.item .info em {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.item .info .price {
  margin: 20px 0;
  padding-left: 24px;
  position: relative;
}

.item .info .price::before {
  background-image: url(/images/usdc.png);
  background-repeat: no-repeat;
  background-size: 20px;
  content: " ";
  height: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 20px;
}

.item .info .actions {
  margin-top: 20px;
}

.item .info .actions .cta {
  display: inline-block;
  margin: 0 10px;
}

.item .info .attribute {
  display: flex;
}

.item .info .attribute h6 {
  flex-basis: 35%;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
}

.item .info .attribute p {
  flex-basis: 65%;
  font-size: 14px;
  line-height: 40px;
  padding: 0;
}

.item .alert {
  margin-top: 20px;
}

.modal {
  display: block;
}

.modal-redeem .modal-head {
  border-bottom: 1px solid #EFEFEF;
  padding: 20px;
}

.modal-redeem .modal-head h3 {
  margin: 0;
  line-height: 22px;
}

.modal-redeem .modal-body {
  padding: 20px;
  text-align: center;
}

.modal-redeem .modal-body img {
  margin: auto;
}

.modal-transfer .overlay {
  max-width: 400px;
}

.modal-transfer .modal-head {
  border-bottom: 1px solid #EFEFEF;
  padding: 20px;
}

.modal-transfer .modal-head h3 {
  margin: 0;
  line-height: 22px;
}

.modal-transfer .modal-body {
  padding: 20px;
  text-align: center;
}

.modal-transfer .modal-body img {
  margin: auto;
}

.modal-transfer .modal-body label {
  display: block;
  text-align: left;
}

.modal-transfer .modal-body .btn {
  display: block;
  margin-top: 10px;
}

@media(max-width: 767px) {
  .item {
    display: block;
  }

  .item .btn {
    display: block;
    margin-top: 20px;
    text-align: center;
  }

  .item .info .actions {
    text-align: center;
  }

  .item .info .actions .cta {
    margin-top: 10px;
  }
}